<section id="contact-info">
    <div class="center">
        <h2>How to Reach Us?</h2>
        <p class="lead">The shop is near the beach wich a great see view.</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <iframe src="https://mapsengine.google.com/map/embed?mid=zef7jPBr-Snw.kLjT-ldQ7IN8" width="450" height="400"></iframe>
                </div>
                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
                                <h5>Head Office</h5>
                                <p>
                                    1537 Flint Street <br>
                                    Tumon, MP 96911
                                </p>
                                <p>
                                    Phone:670-898-2847 <br>
                                    Email Address:info@domain.com
                                </p>
                            </address>
                            <address>
                                <h5>Zonal Office</h5>
                                <p>
                                    1537 Flint Street <br>
                                    Tumon, MP 96911
                                </p>
                                <p>
                                    Phone:670-898-2847 <br>
                                    Email Address:info@domain.com
                                </p>
                            </address>
                        </li>

                        <li class="col-sm-6">
                            <address>
                                <h5>Zone#2 Office</h5>
                                <p>
                                    1537 Flint Street <br>
                                    Tumon, MP 96911
                                </p>
                                <p>
                                    Phone:670-898-2847 <br>
                                    Email Address:info@domain.com
                                </p>
                            </address>
                            <address>
                                <h5>Zone#3 Office</h5>
                                <p>
                                    1537 Flint Street <br>
                                    Tumon, MP 96911
                                </p>
                                <p>
                                    Phone:670-898-2847 <br>
                                    Email Address:info@domain.com
                                </p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->
<script>
    $(function() {
        $("#index").removeClass("active");
        $("#aboutus").removeClass("active");
        $("#contact").removeClass("active");
        $("#service").removeClass("active");
        $("#contact").addClass("active");
    });
</script>